stanford-parser-full-2018-10-17.jar filter=lfs diff=lfs merge=lfs -text
stanza_resources/ filter=lfs diff=lfs merge=lfs -text
stanza_resources/en filter=lfs diff=lfs merge=lfs -text
stanza_resources/resources.json filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/ner filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/sentiment filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/constituency filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/default.zip filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/lemma filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/mwt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/pretrain filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/tokenize filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/backward_charlm filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/depparse filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/forward_charlm filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/pos filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/mwt/combined.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/constituency/ptb3-revised_charlm.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/depparse/combined.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/ner/ontonotes-ww-multi_charlm.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/tokenize/combined.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/backward_charlm/1billion.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/lemma/combined.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/ner/ontonotes.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/pos/combined_charlm.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/depparse/combined_charlm.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/lemma/combined_nocharlm.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/pos/combined.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/pretrain/combined.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/pretrain/conll17.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/sentiment/sstplus.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/en/forward_charlm/1billion.pt filter=lfs diff=lfs merge=lfs -text
stanza_resources/** filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2018-10-17/* filter=lfs diff=lfs merge=lfs -text
stanford-parser-full-2018-10-17/** filter=lfs diff=lfs merge=lfs -text
