html,
body,
div,
.grid-left,
.grid-right,
.grid-main {
  padding: 0;
  margin: 0;
  min-width: 1;
  min-height: 1;
  overflow: hidden;
}

.grid-main {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 8px 2fr;
  grid-template-rows: 1fr;
}

.grid-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8px 2fr;
}

.grid-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 8px 1fr;
}

img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.vertical-gutter {
  grid-area: 1 / 2 / 4 / 2;
  border: solid 1px green;
  position: relative;
  cursor: col-resize;
  //min-width: 8px;
}

.horizontal-gutter-l,
 .horizontal-gutter-r {
  grid-area: 2 / 1 / 2 / 2;
  position: relative;
  cursor: row-resize;
  //min-height: 8px;
}

.horizontal-gutter-l {
  border: solid 1px red;
}

.horizontal-gutter-r {
  border: solid 1px blue;
}

.plain, .framepanel, .innertube { /* Borderless wrapper */
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.framepanel {
	position: relative;
	overflow: auto;
}

.innertube {
	padding: 1em; /* Provides padding for the content */
}

#header {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
	background: SteelBlue;
}

#header h2 {
	margin: 0px;
}

#mid, #main, #full { /* Full width section */
	position: fixed;
	top: 0px; /* Allow for header. Override for mid and main */
	left: 0px;
	bottom: 0px; /* Allow for footer. Override for mid */
	right: 0px; /* No right column */
	background: #fff;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#mid { /* Allows for Footer as well */
	top: 50px; /* Set this to the height of the header */
	bottom: 50px; /* Set this to the height of the footer */
}

#main { /* Allow for overflow as well */
	top: 50px; /* Set this to the height of the header */
	overflow: auto;
}

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	overflow: hidden; /* Disables scrollbars on the footer frame. To enable scrollbars, change "hidden" to "scroll" */
	background: SteelBlue;
}
