<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TEXT TO ISL</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static',filename='style.css')}}">

    <!-- <link rel="stylesheet" href="http://vhg.cmp.uea.ac.uk/tech/jas/vhg2021/cwa/cwasa.css" />
    <script type="text/javascript" src="http://vhg.cmp.uea.ac.uk/tech/jas/vhg2021/cwa/allcsa.js"></script> -->

    <link rel="stylesheet" href="http://vhg.cmp.uea.ac.uk/tech/jas/vhg2021/cwa/cwasa.css" />
    <!-- <script type="text/javascript" src="http://vhg.cmp.uea.ac.uk/tech/jas/vhg2021/cwa/allcsa.js"></script> -->

    <!-- <link rel="stylesheet"
    href="http://localhost/jas/loc2021/cwa/cwasa.css"> -->
    <script type="text/javascript"
    src="{{url_for('static',filename='js/allcsa.js')}}"></script>
    <!-- player css and js files -->
    <!-- <link rel="stylesheet" href="css/cwasa.css" /> -->
    <!-- <script type="text/javascript" src="js/allcsa.js"></script> -->

    <script language="javascript">
        // Initial configuration
        var initCfg = {
            "avsbsl" : ["luna", "siggi", "anna", "marc", "francoise"],
            "avSettings" : { "avList": "avsbsl", "initAv": "marc" }
        };

        // global variable to store the sigmal list
        var sigmlList = null;

        // global variable to tell if avatar is ready or not
        var tuavatarLoaded = false;


        var avatarBusy = false;
    </script>
<!-- <script language="javascript" src="js/animationPlayer.js"></script> -->
<style type="text/css">
    body {
        overflow-y: hidden !important;
        overflow-x: hidden !important;
    }
</style>

</head>
<body onload="CWASA.init(initCfg);">
    <script language="javascript">

console.log("hello");
function playText(stext) {
	CWASA.playSiGMLText(stext);
}

function setSiGMLURL(sigmlURL) {
	console.log("hello");
	var loc = window.location.href;
    var locDir = loc.substring(0, loc.lastIndexOf('/'));
	// console.log("SiGML: "+sigmlURL);
	// console.log("Location Dir: "+locDir);
	sigmlURL = locDir + "/" + sigmlURL;
    console.log("here");
	
	console.log("URL "+sigmlURL);
	document.getElementById("URLText").value = sigmlURL;
	return sigmlURL;
}

function startPlayer(sigmlURL) {
	sigmlURL = setSiGMLURL(sigmlURL);
	console.log("URL "+sigmlURL);
    // Equivalent to click on Sign button
    CWASA.getLogger("myLog","warn");
	CWASA.playSiGMLURL(sigmlURL);
    CWASA.getLogger("myLog","warn");
  
}
</script>
<div class="main">
    <div class="container">
        <div class="player card" >
            <a id="player"></a>
            <div class="anim"> 
                <div style="box-sizing: border-box; width: 100%; height: 100%; padding: 15px;" >
                    <table align="center" style="width:100%; height:100%;" >
                    <tr align="center">
                    
                    <!--================================================================-->
                    <!-- CWA signing avatar panel 0 -->
                    <!--================================================================-->
                    <!-- Replaced by an avatar panel -->
                    <!--================================================================-->
                    <td width="100%" height="90%" >
                        <div class="CWASAAvatar av0" align="center" ></div>
                    </td>
                    <!--================================================================-->
                    
                    </tr><tr>
                    
                    <td align="center">
                    
                    <span class="CWASAAvMenu av0" ></span>
                    <input type="button" value="Sign" class="bttnPlaySiGMLURL av0" />
                    <input type="button" value="Stop" class="bttnStop av0" />
                    <span class="CWASASpeed av0" ></span>
                    <br/>
                    
                    <span style="font-size: 90%;" >
                    Sign/Frame:
                    <input class="txtSF av0" value="0/0" type="text">
                    Gloss:
                    <input class="txtGloss av0" value="[none]" type="text">
                    </span>
                    
                    <!--  CachedSiGML URL  -->
                    <input type="text" id="URLText" class="txtSiGMLURL av0 undisplayed" value="" />
                    
                    <script language="javascript">
                    // Set default sign
                    console.log("here");
                    setSiGMLURL("SignFiles/B.sigml");
                    
                    </script>
                    
                    </td>
                    </tr>
                    
                    </table>
                    
                    </div>
                    
            </div>
            
        </div>
        <div class="englishInput">
            <form method="POST" id= 'form'>
                Input:<input id="text" type="text" name="text" autocomplete="off">
                <button id = "submit"  >Submit</button>
                </form>
            <!-- <button class="btn-primary bttnPlaySiGMLURL av0">Submit</button> -->
            <!-- <input type="button" value="Sign" class="bttnPlaySiGMLURL av0" /> -->
        </div>
        <div class="islOutput">
            ISL text: <p id ="isl_text"></p>
            {{result}}
            {{signres}}

       


        </div>
        <div class="test_word_list">
            Available Words:- 
            <ul class="test_list">
               
            </ul>
        </div>
       
    </div>
</div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script>
        // console.log("{{signres}}")
        // words = words);
        // console.log(JSON.stringify(b));
        // console.log(JSON.stringify(words));

    //     function play_each_word()
    //     {
    //         // for(var i=1;i<=words.length;i++)
    //         // {
    //         //     console.log(`playing word${i}`);
    //             // console.log(words[i-1]);
    //             // let word_to_play  = words[i-1].i;
    //             // console.log(word_to_play);
    //        Object.keys(words).forEach(function(key) {
    //             console.log('Key : ' + key + ', Value : ' + words[key])
    //             let word_to_play = words[key];
    //             console.log("Playing ",word_to_play);
    //             setSiGMLURL(`SignFiles/${word_to_play}.sigml`);    
    //             $('.av0').click();

                
    //     });

    // //     if(data.length > 0) {
    // //   var playtimeout = setInterval(function() {

    // //       if(playseq.length == 0 || data.length == 0) {
    // //         clearInterval(playtimeout);
    // //         console.log("Clear play interval");
    // //         avatarbusy=false;
    // //         return;
    //       }

//           if(avatarbusy == false) {
//             avatarbusy = true; // this is set to flase in allcsa.js      

//             word2play = playseq.shift();    
//             weblog("Playing sign :" + word2play);
//             if(lookup[word2play]==null) {
//               weblog("<span style='color:red;'>SiGML not available for word : " + word2play + "</span>");
//               avatarbusy=false;


//             } else {
//               data2play = lookup[word2play];
//               console.log(data2play);
//               $("#currentWord").text(word2play);
//               $(".txtaSiGMLText").val(data2play);
//               $(".bttnPlaySiGMLText").click();
//             }
//           } else {
//             console.log("Avatar is still busy");

//             // check if error occured then reset the avatar to free
//             errtext = $(".statusExtra").val();
//             if(errtext.indexOf("invalid") != -1) {
//               weblog("<span style='color:red;'>Error: " + errtext + "</span>");
//               avatarbusy = false;
//             }
//           }
//       }, 500);
//     }

//   });

// });

                // setSiGMLURL(`SignFiles/${word_to_play}.sigml`);
                // $('.bttnPlaySiGMLURL').click();
            // }
        // }
        // function delay() {
        //     setTimeout(function() {
        //       play_each_word();
        //     }, 3000);
        //     }

        //     if (document.readyState == 'complete') {
        //         delay();
        //     } else {
        //         document.onreadystatechange = function () {
        //             if (document.readyState === "complete") {
        //                 delay();
        //             }
        //         }
        //     }            
        </script>
        <!-- <script type="text/javascript" src="js/sigmlFiles.json"></script> -->
        <!-- <script type="text/javascript" src="js/handler.js"></script> -->
</body>
</html>